<div class="main-details">
  <h2>About</h2>
</div>
<p>
  The Nashville Music Hackathon is a free all day event. The day starts with several short educational presentations before shifting to working on projects. 
  Hacking starts with an open mic so participants can share what they will be working on, followed by a period to network and form groups. At the end of the day, everyone will have 
  an opportunity to present what they created.
</p>
<br/>
<h2 class="second">When</h2>
<p>
  Saturday, September 15, 2018<br/>
  9:30am - 6:30pm
</p>
<br>
<h2 class="second">Where</h2>
<p>
  Ink Building <br/>
  613 Ewing Ave, 3rd Floor<br/>
  Nashville, TN 37203 <br/>
</p>