<div class="main-details">
    <h2>FAQS</h2>
</div>
<h2>WHO CAN JOIN?</h2>
<p>
  Everyone is welcome! Compose a song using new technology, build a music VR experience, start building the next
music tech startup! Everyone is welcome to come network and learn!
</p>
<br>
<h2>WHAT'S THE COST?</h2>
<p>
    FREE! Bring something to hack with like a laptop, Raspberry Pi, midi keyboard, instrument, a smile and
some ideas!
</p>
<br>
<h2>HOW CAN I HELP?</h2>
<p>
    We run lean and appreciate support in putting on the hackathon. If you'd like to present, make a cash / in-kind donation, or swap ideas, <a href="#contact">drop us a line.</a>
</p>
<br>
<h2>WHY A MUSIC HACKATHON?</h2>
<p>
    In short, because we love music and technology as creative, expressive, and challenging endeavors. 
    Technology has always been a driver of music from how we create it to how we consume. 
    Hackathons are an interdisciplinary opportunity to explore problems and create solutions. 
    We hope this will help grow the music tech community in Nashville and create opportunities for others.
</p>
<br/>
<h2>WHO ORGANIZES THE EVENT?</h2>
<p>
  Nashville Music Tech was founded in 2014 as a meetup for technolgists and music professionals to discuss and learn about how the future of the music industry.
  The organization's mission is to create educational and professional opportunities around the confluence of music and technology.
  In 2017, the focus shifted to an annual hackathon.
</p>