<div class="schedule">
    <hr class="divider"/>
</div>
<div class="main-details">
    <h2>Location TBD</h2>
    <h3>Date TBD</h3>
</div>

<hr class="divider" />

<div class="time-slot">
    <div class="left">
        <h4>9:30am</h4>
    </div>
    <div class="right">
        <h5>Registration</h5>
    </div>
</div>
<div class="time-slot">
    <div class="left">
        <h4>10:00am</h4>
    </div>
    <div class="right">
        <h5>Presentations and Workshops</h5>
    </div>
</div>
<div class="time-slot">
    <div class="left">
        <h4>11:00am</h4>
    </div>
    <div class="right">
        <h5>Offer up your project for others to join. Meet new people to hack with.</h5>
    </div>
</div>
<div class="time-slot">
    <div class="left">
        <h4>11:30am</h4>
    </div>
    <div class="right">
        <h5>Hack. Compose. Create. - Work on projects with a break for dinner.</h5>
    </div>
</div>
<div class="time-slot">
    <div class="left">
        <h4>07:00pm</h4>
    </div>
    <div class="right">
        <h5>Demo / Performances</h5>
    </div>
</div>