--- 
permalink: /2017 
title: 2017 Nashville Music Hackathon 
---

<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Nashville Music Hackathon</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Nashville Music Hackathon">
    <meta property="og:site_name" content="Nashville Music Hackathon" />
    <meta property="og:title" content="Nashville Music Hackathon" />
    <meta property="og:description" content="Inspired by the NY Monthly Music Hackathon, the Nashville Music 
                                    Hackathon brings together local musicians, programmers, designers, composers, 
                                    hardware tinkerers and fans for a day of learning and creating at the intersection of music and technology."
    />
    <meta property="og:url" content="http://www.nashvillemusichackathon.com/" />
    <meta property="og:image" content="/favicon.png" />
    <meta name="author" content="Corey Rice">
    <link rel=icon href="./favicon.png">
    
    <link rel="stylesheet" href="{{ " ../static/main.css " | prepend: site.baseurl }}">
    <style type="text/css">@import url(https://fonts.googleapis.com/css?family=Roboto);</style>
    <link rel="stylesheet" href="{{ "../static/example_style/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Kaushan+Script' rel='stylesheet' type='text/css'>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700' rel='stylesheet' type='text/css'>
    <!-- <link rel="stylesheet" type="text/css" href="js/main.css"> -->
</head>

<body>
        {% include /current_data/header.html %}
    <div class='containerz texture-normal'>
        <div class='row top'>
            <img src="{{ " ../static/img/2017/nash_music_hackathon_logo.png " | prepend: site.baseurl }}" mode='fit' />
        </div>
        <div class='row banner'>
            <div class='col-12 title'>
                <div class='details'>
                    <p>Inspired by the
                        <a href='http://monthlymusichackathon.org/'>NY Monthly Music Hackathon</a>, the Nashville Music Hackathon brings together local musicians, programmers,
                        designers, composers, hardware tinkerers and fans for a day of learning and creating at the intersection
                        of music and technology.
                    </p>
                </div>
            </div>
            <!-- { /* <h3>Get notified about the Nashville Music Hackathon</h3> 
          <form action='//nashmusictech.us7.list-manage.com/subscribe/post?u=01f31d7d67ce721eb576aac17&amp;id=8649079be9' method='post' id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate' target='_blank' noValidate autoComplete='on'>
            <input type='email' name='email' class='required email email-input' placeholder={'your@email.com'} id='mce-EMAIL' value={this.state.email} onChange={this.emailInput} autoComplete='email' />
            <div id='mce-responses' class='clear' style=display: 'none'>
              <div class='response' id='mce-error-response' style=display: 'none' />
              <div class='response' id='mce-success-response' style=display: 'none' />
            </div>
            <input type='submit' value='Sign Up' name='subscribe' id='mc-embedded-subscribe' class='button submit-button' />
           </form> -->
            <a href='https://www.eventbrite.com/e/nashville-music-hackathon-tickets-32653034104'>
                <img src="{{ " ../static/img/2017/register.png " | prepend: site.baseurl }}" style='width: 200px;' />
            </a>
            <div class='organizers'>
                <p>
                    Organized by:
                    <a href='http://www.nashvillemusictech.com'>Nashville Music Tech</a> and
                    <a href='http://www.solidnashville.org/'>SOLID</a>
                </p>
            </div>
        </div>
        <div id='about' class='schedule-block containerz'>
            <div class='row'>
                <h1 class='uppercase'>Event schedule</h1>
                <div class='col-6'>
                    <div class='row'>
                        <div class='col-12'>
                            <p class='time-and-place'>
                                DATE: April 15, 2017
                                <br /> TIME: 10 am - 9 pm
                                <br /> PLACE: Emma Bistro
                                <br /> 9 Lea Ave, Nashville, TN 37210
                            </p>
                            <p class='description'>
                                The day will start with several presentations before attendees have an opportunity to break out into groups and begin hacking
                                a project together.
                            </p>
                            <p class='description'>
                                There will be workshops for attendees interested in learning new skills. Project presentations/performances will take place
                                at the end of the day.
                            </p>
                            <p class='description'>Lunch and dinner are on us so you can focus on hacking together cool projects!
                            </p>
                            <a href='https://www.eventbrite.com/e/nashville-music-hackathon-tickets-32653034104'>
                                <img src="{{ " ../static/img/2017/register-black.png " | prepend: site.baseurl }}" style='width: 200px; display: block; margin: auto; paddingTop: 50px;'
                                />
                            </a>
                        </div>
                    </div>
                </div>
                <div class='col-6'>
                    <div class='panels'>
                        <div class='panel'>
                            <div class='panel-heading'>
                                <h4 class='panel-title'>
                                    <span class='event-schedule-title' href='javascript:void(0);'>
                                        <span class='event-schedule-time'>09:30</span>
                                        <span class='event-schedule-name'>Registration</span>
                                    </span>
                                </h4>
                            </div>
                            <div class='panel-body'>
                                Register before 11 to participate in the hackathon and reserve your meal ticket.
                            </div>
                        </div>
                        <div class='panel'>
                            <div class='panel-heading'>
                                <h4 class='panel-title'>
                                    <span class='event-schedule-title' href='javascript:void(0);'>
                                        <span class='event-schedule-time'>10:00 - 11:00</span>
                                        <span class='event-schedule-name'>Presentations/ Workshop</span>
                                    </span>
                                </h4>
                            </div>
                            <div class='panel-body'>
                                Listen to presentations/ workshops on music tech topics.
                            </div>
                        </div>
                        <div class='panel'>
                            <div class='panel-heading'>
                                <h4 class='panel-title'>
                                    <span class='event-schedule-title' href='javascript:void(0);'>
                                        <span class='event-schedule-time'>11:00 - 11:30</span>
                                        <span class='event-schedule-name'>Breakout Session</span>
                                    </span>
                                </h4>
                            </div>
                            <div class='panel-body'>
                                Offer up your project for others to join. Meet new people to hack with.
                            </div>
                        </div>
                        <div class='panel'>
                            <div class='panel-heading'>
                                <h4 class='panel-title'>
                                    <span class='event-schedule-title' href='javascript:void(0);'>
                                        <span class='event-schedule-time'>11:30 - 8:00</span>
                                        <span class='event-schedule-name'>Hack</span>
                                    </span>
                                </h4>
                            </div>
                            <div class='panel-body'>
                                Work on projects with a break for dinner.
                            </div>
                        </div>
                        <div class='panel'>
                            <div class='panel-heading'>
                                <h4 class='panel-title'>
                                    <span class='event-schedule-title' href='javascript:void(0);'>
                                        <span class='event-schedule-time'>8:00 - 09:00</span>
                                        <span class='event-schedule-name'>Demos / Performances</span>
                                    </span>
                                </h4>
                            </div>
                            <div class='panel-body'>
                                Present your project and see what others have been working on all day.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='row banner'>
            <h1 class='uppercase'>Speakers</h1>
            <div class='row'>
                <div class='col-8 offset-2 speakers'>
                    <div class='speaker' id='misty'>
                        <div class='title-section'>
                            <img class='headshot' src="{{ " ../static/img/2017/misty-jones.jpg " | prepend: site.baseurl }}" />
                            <h3 class='title'>Misty Jones - Assistant Professor, Department of Recording Industry, MTSU</h3>
                        </div>
                        <p class='bio'>Misty Jones is an Assistant Professor in the Department of Recording Industry at Middle Tennessee
                            State in Murfreesboro, TN, and received her Bachelor’s Degree in Music Education from Baylor
                            University. Misty studied Music Technology Innovation at Berklee Valencia in Spain, where she
                            received the Outstanding Scholar award and achieved a Master of Music degree. She will present
                            an intro session on using controllers with Ableton using tools such as Bare Conductive Touch
                            Board and Hot Hands Controller.
                        </p>
                    </div>
                    <div class='speaker' id='ryan'>
                        <div class='title-section'>
                            <img class='headshot' src="{{ " ../static/img/2017/ryan-wrenn.jpg " | prepend: site.baseurl }}" />
                            <h3 class='title'>Ryan Wrenn - CTO, Artiphon</h3>
                        </div>
                        <p class='bio' />
                    </div>
                    <div class='speaker' id='nick'>
                        <div class='title-section'>
                            <img class='headshot' src="{{ " ../static/img/2017/nick-barnes1.jpg " | prepend: site.baseurl }}" />
                            <h3 class='title'>Nick Barnes - Director, Fan Engagement, Eric Church</h3>
                        </div>
                        <p class='bio'>As Director of Fan Engagement, Nick Barnes works directly for Eric Church helping manage the digital
                            space of his brand. Part of that job is to provide fans with fair access to tickets, protecting
                            them from scalpers. Nick will share some of the success and failures in that endeavor, including
                            details about a proprietary pre-sale process and in-depth information about the recent cancellation
                            of 25k scalper tickets. Sample code and datasets will be made available for projects.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div id='faq' class='faq'>
            <div class='row'>
                <div class='col-4'>
                    <h1>Who can join?</h1>
                    <p class='description'>Everyone is welcome! Compose a song using new technology, build a music VR experience, start building
                        the next music tech startup! Everyone is welcome to come network and learn!</p>
                </div>
                <div class='col-4'>
                    <h1>What's the cost?</h1>
                    <p class='description'>FREE! Bring something to hack with like a laptop, Raspberry Pi, midi keyboard, instrument, etc..., a
                        smile and some ideas!</p>
                </div>
                <div class='col-4'>
                    <h1>How can I help?</h1>
                    <p class='description'>We run lean and appreciate support in putting on the hackathon.
                        <br /> If you'd like to present, donate space or food, or swap ideas,&nbsp;
                        <a class='emailus' href='mailto:corey@nashvillemusictech.com'>drop us a line.</a>
                    </p>
                </div>
            </div>
        </div>
        <div class='row banner'>
            <h3>Get notified about the Nashville Music Hackathon</h3>
            <form action='//nashmusictech.us7.list-manage.com/subscribe/post?u=01f31d7d67ce721eb576aac17&amp;id=8649079be9' method='post'
                id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate' target='_blank' noValidate>
                <input type='email' name='EMAIL' class='required email email-input' placeholder='your@email.com' id='mce-EMAIL' />
                <div id='mce-responses' class='clear' style='display: none;'>
                    <div class='response' id='mce-error-response' style='display: none;' />
                    <div class='response' id='mce-success-response' style='display: none;' />
                </div>
                <input type='submit' value='Sign Up' name='subscribe' id='mc-embedded-subscribe' class='button submit-button' />
            </form>
        </div>
    </div>
    {% include common/js.html %}
</body>

</html>