<section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Contact Us</h2>
                    <h3 class="section-subheading text-muted">We want to hear from you!</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-push-2 col-lg-8">
                    <h3 class="section-content">Thanks for visiting the Nashville Music Hackathon site. The annual event is organized by Corey Rice as part of Nashville Music Tech, a group of individuals that seek to support and grow the music tech scene in Nashville.</h3>
                    <h3 class="section-content">If you have questions, comments, suggestions or want to learn how you can get involved, you can  email Corey at <a href="mailto:corey@nashvillemusictech.com"> corey@nashvillemusictech.com</h3>
                </div>
            </div>
        </div>
    </section>