.event {
    .main-details {
        h2,h3 {
            text-align: center;
        }
    }
}

.time-slot {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 10px 0;
}

.left, .right {
    align-self: flex-start;
    padding: 0 25px;
    min-height: 50px;
}

.left {
    flex: 30%;
    text-align: right;
    border-right: 3px solid #114F68;
}

.right {
    flex: 100%;
}

.event {
    hr.vertical {
        position: relative;
        right: 7px;
    }
}
