#workshops {
    padding: 0 0 100px 0;
}

#workshops .speaker-thumbnail {
    height: 200px;
}

  #workshops .speakers-item {
      right: 0;
      margin: 0 0 15px;
  }
  
  #workshops .speakers-item .speakers-link {
      display: block;
      position: relative;
      margin: 0 auto;
      max-width: 400px;
  }
  
  #workshops .speakers-item .speakers-link .speakers-hover {
      position: absolute;
      width: 100%;
      height: 100%;
      opacity: 0;
      -webkit-transition: all ease .5s;
      -moz-transition: all ease .5s;
      transition: all ease .5s;
      background: #114F68;
  }
  
  #workshops .speakers-item .speakers-link .speakers-hover:hover {
      opacity: 1;
  }
  
  #workshops .speakers-item .speakers-link .speakers-hover .speakers-hover-content {
      position: absolute;
      top: 50%;
      width: 100%;
      height: 20px;
      margin-top: -12px;
      text-align: center;
      font-size: 120%;
      color: #fff;
  }
  
  #workshops .speakers-item .speakers-link .speakers-hover .speakers-hover-content i {
      margin-top: -12px;
  }
  
  #workshops .speakers-item .speakers-link .speakers-hover .speakers-hover-content h3,
  #workshops .speakers-item .speakers-link .speakers-hover .speakers-hover-content h4 {
      margin: 0;
  }
  
  #workshops .speakers-item .speakers-caption {
      margin: 0 auto;
      padding-top: 25px;
      padding-bottom: 5px;
      max-width: 400px;
      min-height: 100px;
      text-align: center;
      background-color: #fff;
  }
  
  #workshops .speakers-item .speakers-caption h4 {
      margin: 0;
      text-transform: none;
  }
  