<!-- Services Section -->
<section id="intro">
    <div class="container">
        <div class="row">
            <div class='col-12 title'>
                <div class='details'>
                    <p>Inspired by the
                        <a href='http://monthlymusichackathon.org/'>NY Monthly Music Hackathon</a>, the Nashville Music Hackathon brings together local musicians, programmers,
                        designers, composers, hardware tinkerers and fans for a day of learning and creating at the intersection
                        of music and technology.
                    </p>
                </div>
            </div>
            <div>
                <center style='margin: 25px'>
                    <a href="" class="page-scroll btn btn-xl">Registration Opening Soon</a>
                </center>
            </div>
            <div class='col-12 notified'>
                <h3>Join the Nashville Music Hackathon mailing list</h3>
                <form action='//nashmusictech.us7.list-manage.com/subscribe/post?u=01f31d7d67ce721eb576aac17&amp;id=8649079be9' method='post'
                    id='mc-embedded-subscribe-form' name='mc-embedded-subscribe-form' class='validate' target='_blank' noValidate
                    auto-complete='on'>
                    <input type='email' name='email' class='required email email-input' placeholder='your@email.com' id='mce-EMAIL' auto-complete='email' />
                    <div id='mce-responses' class='clear' style='display: none;'>
                        <div class='response' id='mce-error-response' style='display: none;'></div>
                        <div class='response' id='mce-success-response' style='display: none;'></div>
                    </div>
                    <input type='submit' value='Sign Up' name='subscribe' id='mc-embedded-subscribe' class='button submit-button' />
                </form>
            </div>

            <div class='organizers'>
                <p>
                    Organized by:
                    <a href='http://www.nashvillemusictech.com'>Nashville Music Tech</a>
                </p>
            </div>
        </div>

        <!-- <div class="video"><iframe src="https://www.facebook.com/plugins/video.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook%2Fvideos%2F10153231379946729%2F&width=500&show_text=false&appId=269289086810957&height=280" frameborder="0" allowTransparency="true" allowFullScreen="true"></iframe></div><br> -->
    </div>
</section>