<!-- Sponsors Aside -->

<section id="sponsors"  class="sponsors" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Sponsors</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-push-3 col-sm-6">
               <h3>Presented by</h3>
                <a href="https://www.firsttennessee.com/" class="portfolio-link" target="_blank">
                    <img src="{{ "/static/img/logos/first-tennessee.jpeg" | prepend: site.baseurl }}" class="img-responsive img-centered"
                        alt="">
                        <h4>First Tennessee Bank</h4>
                </a>
            </div>
        </div>
        <h3>Additional Sponsors</h3>
        <div class="row">
            <div class="col-sm-6">
                <a href="https://songspace.com/" class="portfolio-link" target="_blank">
                    <img src="{{ "/static/img/logos/songspace.png" | prepend: site.baseurl }}" class="img-responsive img-centered"
                        alt="">
                    <h4>Songspace</h4>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="#contact" class="portfolio-link">
                    <img src="{{ "/static/img/logos/nash_music_hackathon_logo_no_date.png" | prepend: site.baseurl }}" class="img-responsive img-centered"
                        alt="">
                    <h4>Sponsorships available</h4>
                </a>
            </div>
        </div>
    </div>
</section>