<!DOCTYPE html>
<html>

  {% include common/head.html %}


    <body id="page-top" class="index">

    {% include 2017_data/header.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">Title<br></div>
                <div class="intro-lead-in">Date</div>
                <div class="intro-lead-in">Location</div>
                <a href="#intro" class="page-scroll btn btn-xl">Tell Me More</a>
            </div>
        </div>
    </header>

    {% include current_data/intro.html %}
    {% include current_data/speakers.html %}
    {% include current_data/about.html %}
    {% include current_data/sponsors.html %}
    {% include common/contact.html %}
    {% include common/footer.html %}
    {% include current_data/speakers_info.html %}
    {% include common/js.html %}

    </body>
</html>